@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Fira Sans', sans-serif;	
  background-color: #141e46;
  line-height: 1.6;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 100px auto;
  padding: 0 30px;
}